#map {
   margin-top: 25%; 
}
#history {
    margin-top: 10%
}
#menu {
    margin-top: 25%;
}
body {
    background-color: white;
}
#cardtext {
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: gray;
}
.fixed-top.navbar.navbar-expand-lg {
    background-color: black;
}
.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
